<div class="d-flex align-items-center justify-content-center h-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Упсс!</span>Ошибка сервера.</p>
        <p class="lead">
            На сервере произошла ошибка повторите запрос позже!
        </p>
    </div>
</div>