@using Common.Models.Enums
@{
    ViewData["Title"] = "Настройки";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h2>Настройки</h2>
        <hr />
        
        @if (User.IsInRole(Role.Admin))
        {
            <div class="row m-1">
                <a class="col page-link text-dark" asp-area="" asp-controller="Admin" asp-action="Dictionary">Обновление справочников</a>
            </div>
        }

        <div class="row m-1">
            <a class="col page-link text-dark" asp-area="" asp-controller="Admin" asp-action="Managers">Работа с менеджерами</a>
        </div>
        <div class="row m-1">
            <a class="col page-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdmissionsCompanies">Работа с приемными компаниями</a>
        </div>
    </div>
</div>
